<section class="gradient-form h-full w-full bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full w-full p-10 ml-20">
    <div
      class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-full max-h-full">
        <div
          class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap flex-row-reverse">
            <!-- Left column container-->
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <!--Logo-->
                <div class="text-center">
                  <img
                    class="mx-auto w-48"
                    src="./assets/images/logo.jpg"
                    alt="logo" height="880" width="1280"/>
                  <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                    خوش آمدید
                  </h4>
                </div>

                <form>
                  <p class="mb-4 text-right">نام کاربری و رمز عبور خود را وارد کنید</p>
                  <!--Username input-->
                  <div class="relative mb-4" data-twe-input-wrapper-init>
                    <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="peer block min-h-[auto] w-full rounded border-0 bg-gray-200 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                      id="exampleFormControlInput1"
                      placeholder="نام کاربری" />
                    <label
                      for="exampleFormControlInput1"
                      class="justify-start pointer-events-none absolute right-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out  peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">نام کاربری
                    </label>
                  </div>

                  <!--Password input-->
                  <div class="relative mb-4" data-twe-input-wrapper-init>
                    @if (showPass) {
                      <input [(ngModel)]="passWord" [ngModelOptions]="{standalone: true}"
                             type="text"
                             class="peer block min-h-[auto] w-full rounded border-0 bg-gray-200 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100  peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                             id="exampleFormControlInput11"
                             placeholder="رمز عبور" />
                    } @else {
                      <input [(ngModel)]="passWord" [ngModelOptions]="{standalone: true}"
                             type="password"
                             class="peer block min-h-[auto] w-full rounded border-0 bg-gray-200 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100  peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                             id="exampleFormControlInput12"
                             placeholder="رمز عبور" />
                    }


                    <label for="exampleFormControlInput11"
                      class="pointer-events-none absolute right-8 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out  peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary">
                      رمز عبور
                    </label>
                    <span *ngIf="!showPass" matPrefix
                          class="fa fa-eye pointer absolute top-2.5 right-1"
                          (click)="toggleShowPass()"
                          [matTooltip]="'نمایش رمز عبور'"></span>
                    <span *ngIf="showPass" matPrefix
                          class="fa fa-eye-slash pointer absolute top-2.5 right-1"
                          (click)="toggleShowPass()"
                          [matTooltip]="'عدم نمایش رمز عبور'"></span>
                  </div>

                  <!--Submit button-->
                  <div class="mb-12 pb-1 pt-1 text-center">
                    <button (click)="login()"
                      class=" mb-3 inline-block w-full rounded-md px-6 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal text-white shadow-dark-3 transition duration-150 ease-in-out hover:shadow-dark-2 focus:shadow-dark-2 focus:outline-none focus:ring-0 active:shadow-dark-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                      type="button"
                      data-twe-ripple-init
                      data-twe-ripple-color="black"
                      style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                      ورود به سامانه
                    </button>

                    <!--Forgot password link-->
                    <a href="#">فراموشی رمز عبور</a>
                  </div>

                </form>
              </div>
            </div>

            <!-- Right column container with background and description-->
            <div
              class="flex items-center justify-end rounded-b-lg lg:w-6/12 lg:rounded-e-lg lg:rounded-bl-none"
              style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)">
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="mb-6 text-2xl font-semibold text-right">
                  سامانه مدیریت امور پرونده های دانشجویی
                </h4>
                <p  dir="rtl" class="text-lg text-justify ">
                  به سامانه امور پرونده ها و کمیسیون های دانشگاه آزاد اسلامی سیرجان خوش آمدید. این سامانه در حال حاضر به صورت آزمایشی راه اندازی شده و در حال تکمیل شدن است.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
